.signup-bg{
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: auto;
}


.signup-form p {
    font-size: .8rem;
}


.error-msg {
    font-size: .7rem;
    color: #ed1c24;
    font-weight: 500;
    margin-bottom: .5rem;
}


@media only screen and (max-width: 550px) {
    .signup-bg{
        background: #1C2026;
        height: auto;
    }
   
  }




